{% extends 'admin.html.twig' %}

{% block title %}Request list - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" type="text/css" href="/assets/DataTables/bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="/assets/DataTables/dataTables.css">
    <link rel="stylesheet" type="text/css" href="/assets/colorbox/colorbox.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/css/form.css" media="all">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <h2>Requests for Vehicle Reservations</h2>
        </div>
    </div><br/>

        <table class="table table-bordered table-hover dataTable" id="list1">
            <thead>
            <tr role="row">
                <th tabindex="0" role="columnheader" class="header headerSortDown">Req ID #
                </th>
                <th tabindex="0" role="columnheader" class="header headerSortDown">Requester's Name
                </th>
                <th tabindex="0" role="columnheader" class="header">Requested Vehicle
                </th>
                <th tabindex="0" role="columnheader" class="header">Requested Date/Time
                </th>
                <th tabindex="0" role="columnheader" class="header">Purpose of travel
                </th>
                <th tabindex="0" role="columnheader" class="header">
                </th>
            </tr>
            </thead>

            <tbody>
            <!-- table rows -->
            <tr>
                <td>23</td>
                <td>John doe</td>
                <td>12-passenger Van</td>
                <td>2013-06-14 3.00 PM</td>
                <td>Meeting</td>
                <td>
                    <a class="iframe approve" href="approve.html">Approve</a> |
                    <a class="iframe decline" href="decline.html">Disapprove</a> |
                    <a class="iframe details" href="request1-details.html">View</a> |
                    <a class="details" href="request1-print.html">Print</a>
                </td>
            </tr>
            <tr>
                <td>45</td>
                <td>Bob doe</td>
                <td>4-passenger Sedan</td>
                <td>2013-06-15 3.00 PM</td>
                <td>Conference</td>
                <td>
                    <a class="iframe approve" href="approve.html">Approve</a> |
                    <a class="iframe decline" href="decline.html">Disapprove</a> |
                    <a class="iframe details" href="request1-details.html">View</a> |
                    <a class="details" href="request1-print.html">Print</a>
                </td>
            </tr>
            <!--end table 1 rows -->
            </tbody>
        </table><br/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/DataTables/dataTables.js"></script>
    <script type="text/javascript" src="/assets/DataTables/DT_bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8">
        /* Table initialisation */
        $(document).ready(function () {
            $('#list1').dataTable({
                "sDom": "<'row'<'col-lg-3 col-offset-1'i>>" +
                        "<'row'<'col-lg-10 col-offset-1'f>>" +
                        "<'row'<'col-lg-10 col-offset-1'l>>" +
                        "<'row'<'col-lg-10 col-offset-1't>>" +
                        "<'row'<'col-lg-10 col-offset-1'p>>",

                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                }
            });
        });
    </script>

    <script type="text/javascript" src="/assets/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="/assets/colorbox/jquery.colorbox-min.js"></script>
    <script>
        $('.iframe').colorbox({width: "70%", height: "100%", iframe: true});
    </script>
{% endblock %}
