<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Admin {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="/assets/bootstrap3/css/bootstrap.css" rel="stylesheet" media="screen">
    {% endblock %}
</head>
<body>
<div class="row">
    <div class="col-lg-10 col-offset-1">
        <noscript><br/>
            <p>Javascript is disabled in your browser.</p>
            <p>Please, turn on Javascript or use a different browser to use this app.</p>
            <a href="#">Click here to continue</a><br/>
        </noscript>
    </div>
</div>
{% block body %}{% endblock %}

{% block javascripts %}
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="/assets/jquery/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap3/js/bootstrap.js"></script>
    <!-- Optionally enable responsive features in IE8 -->
    <script src="/assets/bootstrap3/js/respond.min.js"></script>
{% endblock %}
</body>
</html>
